.styles_articleDetailContent__2K3mk {
  margin: 0 auto;
}

.styles_articleDetailContent__2K3mk ul {
  padding-left: 2.5rem;
}

.styles_articleDetailContent__2K3mk ol {
  list-style-type: decimal;
  padding-left: 2.5rem;
}

.styles_articleDetailContent__2K3mk h1 {
  font-weight: 800;
}

.styles_articleDetailContent__2K3mk .styles_article-recommend-wrapper__N7vvj {
  margin: 0 auto !important;
}

.styles_articleDetailContent__2K3mk iframe[src*="poll-maker.com"] {
  height: 739px !important;
}

.styles_articleContentTop__3a-DY {
  margin: 0 auto;
  max-width: 768px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2em;
}

.styles_articleContentTop__3a-DY .styles_articleInfoContent__24eAy {
  align-items: center;
  display: flex;
  font-size: 13px;
  justify-content: flex-start;
  line-height: 20px;
  margin-bottom: 0.5rem;
}

.styles_articleContentTop__3a-DY
  .styles_articleInfoContent__24eAy
  .styles_articleInfoTopic__3pv9H
  a {
  color: #00773e;
}

.styles_articleContentTop__3a-DY
  .styles_articleInfoContent__24eAy
  .styles_OPArticleInfoTopic__NIK5G
  a {
  color: #b51717;
}

.styles_articleContentTop__3a-DY
  .styles_articleInfoContent__24eAy
  .styles_articleInfoSeparator__rCkKk {
  margin: 0 0.5rem;
  vertical-align: middle;
}

.styles_articleContentTop__3a-DY
  .styles_articleInfoContent__24eAy
  .styles_article-info-detail__11nfm {
  margin-right: 8px;
}

.styles_articleContentTop__3a-DY .styles_articleTitle__2TmKa {
  color: #292929;
  margin-bottom: 24px;
  margin-top: 0;
}

.styles_articleContentTop__3a-DY .styles_articleExcerpt__13pI- {
  color: #757575;
  font-family: Merriweather, Verdana;
  font-weight: 400;
}

.styles_articleContentTop__3a-DY .styles_articleExcerpt__13pI- p {
  margin: 0;
}

// Quảng cáo
.styles_contentWrapper__1p-fV {
  margin-left: auto;
  margin-right: auto;
}
.styles_bannerInArticleWrapper__1sCeG {
  background-color: #f9f9f9;
  left: 49%;
  margin-bottom: 2rem;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 49%;
  text-align: center;
  width: 100vw;
}

.styles_bannerInArticleWrapper__1sCeG a {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.styles_bannerInArticleWrapper__1sCeG img {
  margin-bottom: 0 !important;
  width: 728px !important;
}

.styles_blockBannerAppHoriMobile__1ThWQ {
  display: inline-block;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.styles_blockBannerAppHoriMobile__1ThWQ img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.article-content-detail iframe.ql-video {
  height: 350px;
}

.article-content-detail .img-caption {
  color: #757575;
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: auto auto 32px;
  max-width: 568px;
  padding-left: 16px;
  position: relative;
}

.article-content-detail .img-caption:before {
  background: #bfbfbf;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.article-content-detail .twitter-tweet.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

.article-content-detail .wp-block-embed-youtube iframe,
.article-content-detail iframe .ql-video {
  height: 350px;
}

.article-content-detail .dable_frame-article {
  margin: 64px 0;
}

.article-content-detail a:not(.topic) {
  color: #3172d8;
  font-family: Merriweather;
  font-size: 18px;
  line-height: 32px;
  margin-top: 2px;
}

.article-content-detail a:not(.topic) strong,
.article-content-detail a:not(.topic) strong em {
  color: #3172d8;
}

.article-content-detail figure.full-width,
.article-content-detail figure.full-width figcaption {
  max-width: 768px;
}

.article-content-detail ul:not(.slick-dots) {
  margin: 0 auto 32px;
  max-width: 568px;
}

.article-content-detail ul:not(.slick-dots) li {
  font-family: Merriweather;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 16px;
  position: relative;
}

.article-content-detail ul:not(.slick-dots) li strong {
  font-weight: 700;
}

.article-content-detail ul:not(.slick-dots) li:last-child {
  margin-bottom: 0;
}

.styles_breadcrumb__35i2A {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 568px;
}

.styles_breadcrumb__35i2A:not(.styles_forENVer__3KjGD) a {
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.styles_breadcrumb__35i2A a {
  color: #00773e;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 12px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.styles_breadcrumb__35i2A svg {
  display: block;
  margin: -2px 4px 0;
}

.styles_breadcrumb__35i2A.styles_breadIOS__24sO4 svg {
  margin-top: -4px;
}
.styles_avatar__M3Jph img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
}
.styles_avatar__3YsM5 img {
  height: 40px !important;
  width: 40px !important;
}

.styles_articleAuthorInfo__m7roT {
  margin-left: 10px;
  max-width: 572px;
}

.styles_articleAuthorInfo__m7roT a,
.styles_articleAuthorInfo__m7roT p,
.styles_articleAuthorInfo__m7roT span {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.typo-caption_12pt {
  font-family: PoppinsVN, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3333333333333333em;
}
.styles_btnSocial__kc0NN {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.styles_btnSocial__kc0NN:hover i:not(#styles_noHover__2GwQF) path {
  fill: #292929 !important;
}

.styles_btnSocial__kc0NN:hover span:not(#styles_noHover__2GwQF) {
  color: #292929;
}
.styles_s-icon__22aGG {
  display: inline;
}
.styles_animation__1_Qrz {
  height: 120px;
  left: -32px;
  opacity: 0;
  position: absolute;
  top: -43px;
  transition: all 0.3s;
  width: 120px;
  z-index: -1;
}

.styles_animation__1_Qrz svg {
  fill: red;
}
.styles_s-tooltip__1Eb0-,
.styles_typo-body_14pt__3qwnA {
  font-family: PoppinsVN, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857142857142em;
}

.styles_s-tooltip__1Eb0- {
  align-items: center;
  background-color: #292929;
  border-radius: 0.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  position: absolute;
  transition-duration: 0.15s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  z-index: 1;
}

.styles_s-tooltip__1Eb0-:before {
  --tw-content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: var(--tw-content);
  position: absolute;
}

.styles_s-tooltip__1Eb0-.styles_show__3AT1Y {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

.styles_s-tooltip__1Eb0-.styles_hide__-V0nl,
.styles_s-tooltip__1Eb0-.styles_show__3AT1Y {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.styles_s-tooltip__1Eb0-.styles_hide__-V0nl {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
}
.styles_s-text__3a4If.styles_noGutterBottom__3Wmpn {
  margin-bottom: 0;
}
.styles_s-text__3a4If.styles_ink-secondary-2__3k0m- {
  color: #555555;
}

.styles_s-icon__22aGG {
  display: block;
}
