// Header_topBanner__1xD
.Header_topBanner__1xD-2 {
    img {
        display: block;
        height: 100%;
        margin: auto;
        max-width: 970px;
        -o-object-fit: cover;
        object-fit: cover;
        width: 100%;
    }
}
