@-webkit-keyframes loading_spin__3aecD {
  0% {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
  }
}
@keyframes loading_spin__3aecD {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.loading_loading__1JJce {
  -webkit-animation: loading_spin__3aecD 0.75s linear infinite;
  animation: loading_spin__3aecD 0.75s linear infinite;
  border: 3px solid #00773e;
  border-bottom-color: #d9d9d9;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
}
.loading_formInContent__1Z_0Q {
  bottom: calc(50% - 10px);
  right: 20px;
}
.loading_inArticleRecommend__2xa0K {
  bottom: 80px;
  left: 48%;
  margin-bottom: 20px;
}
.loading_loadingModal__1Pmgz {
  border-left-color: #26a4b2;
  border-right-color: #26a4b2;
  border-top-color: #26a4b2;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.loading_default__3soio {
  position: static;
}
.loading_fixedPage__2opB7 {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  cursor: auto;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
}
.loading_fixedPage__2opB7 > div {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-user_sectionUser__1Q2os {
  position: relative;
}
.menu-user_container__2lJ2g {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  list-style: none;
  margin: 0;
  max-height: 348px;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 58px;
  transition: all 0.25s ease-in-out;
  width: 282px;
  z-index: 999;
}
.menu-user_containerActive__3lZ9M {
  opacity: 1;
  pointer-events: auto;
}
.menu-user_containerActive__3lZ9M:before {
  background: #fff;
  bottom: 97%;
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  right: 12px;
  transform: rotate(45deg);
  width: 16px;
}
.menu-user_avatar__HX8s3,
.menu-user_avatarInBox__dzltK {
  background-color: #fff;
  display: block;
}
.menu-user_avatar__HX8s3,
.menu-user_avatar__HX8s3 img,
.menu-user_avatarInBox__dzltK,
.menu-user_avatarInBox__dzltK img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.menu-user_avatar__HX8s3 svg,
.menu-user_avatarInBox__dzltK svg {
  border-radius: 50%;
  width: 40px;
}
.menu-user_avatar__HX8s3 {
  cursor: pointer;
  margin-left: 18px;
  margin-right: 18px;
}
.menu-user_avatarInBox__dzltK {
  margin-right: 16px;
}
.menu-user_menuItem__3mnbP {
  clear: both;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  white-space: nowrap;
}
.menu-user_menuItem__3mnbP,
.menu-user_menuItem__3mnbP a {
  font-size: 14px;
  padding: 2px 12px;
}
.menu-user_menuItem__3mnbP a {
  color: #757575;
  height: 52px;
}
.menu-user_menuItem__3mnbP a,
.menu-user_profileItem__2au9q {
  align-items: center;
  display: flex;
}
.menu-user_profileItem__2au9q {
  height: 72px;
  position: relative;
}
.menu-user_profileWrapper__23mIT {
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 90%;
}
.menu-user_profile__3-Kt7 {
  width: 70%;
}
.menu-user_profileName__s57GF {
  color: #292929;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-user_profileLevel__pcFEQ {
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.005em;
}
@media screen and (max-width: 568px) {
  .menu-user_container__2lJ2g {
    top: calc(100% + 8px);
  }
}
