.styles_typo-700_64pt__T1qzp {
    font-size: 64px;
    line-height: 1.25em;
}
.styles_typo-700_48pt__23-db,
.styles_typo-700_64pt__T1qzp {
    font-family: PoppinsVN, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.styles_typo-700_48pt__23-db {
    font-size: 48px;
    line-height: 1.1666666666666667em;
}
.styles_typo-700_40pt__Ea_qE {
    font-family: PoppinsVN, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
}
.styles_typo-700_32pt__3drTq {
    font-size: 32px;
}
.styles_typo-700_24pt__1MN0P,
.styles_typo-700_32pt__3drTq {
    font-family: PoppinsVN, sans-serif;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.styles_typo-700_24pt__1MN0P {
    font-size: 24px;
}
.styles_typo-700_20pt__15TBu {
    font-family: PoppinsVN, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}
.styles_typo-600_64pt__2-srV {
    font-family: PoppinsVN, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.25em;
}
.styles_typo-600_40pt__1wzOQ {
    font-family: PoppinsVN, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2em;
}
.styles_pollQuestion__3CtlH,
.styles_typo-600_32pt__eKyqx {
    font-family: PoppinsVN, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5em;
}
.styles_typo-600_28pt__2mgPJ {
    font-family: Merriweather, serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4285714285714286em;
}
.styles_typo-600_26pt__1q25j {
    font-family: PoppinsVN, sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3076923076923077em;
}
.styles_typo-600_24pt__SFFc5 {
    font-family: PoppinsVN, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3333333333333333em;
}
.styles_typo-600_20pt__14pv1 {
    font-family: PoppinsVN, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4em;
}
.styles_typo-600_16pt__i2YYE {
    font-family: PoppinsVN, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
}
.styles_subHeadingText__24s7L,
.styles_typo-600_14pt__2OhI0 {
    font-family: PoppinsVN, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4285714285714286em;
}
.styles_typo-600_13pt__23xfV {
    font-family: PoppinsVN, sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.3846153846153846em;
}
.styles_typo-600_12pt__2U3Ee {
    font-family: PoppinsVN, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333em;
}
.styles_typo-600_11pt__1MsxM {
    font-family: PoppinsVN, sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.4545454545454546em;
}
.styles_typo-500_64pt__3dHdc {
    font-family: PoppinsVN, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.25em;
}
.styles_typo-500_56pt__2ErS1 {
    font-family: PoppinsVN, sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.2857142857142858em;
}
.styles_typo-500_16pt__2ZBaO {
    font-family: PoppinsVN, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75em;
}
.styles_typo-500_14pt__3hlnV {
    font-family: PoppinsVN, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7142857142857142em;
}
.styles_typo-400_48pt__2E-p- {
    font-family: PoppinsVN, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.1666666666666667em;
}
.styles_typo-btn_16pt__2BTb3 {
    font-size: 16px;
    line-height: 1.5em;
}
.styles_typo-btn_14pt__1pF1J,
.styles_typo-btn_16pt__2BTb3 {
    font-family: PoppinsVN, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.styles_typo-btn_14pt__1pF1J {
    font-size: 14px;
    line-height: 1.7142857142857142em;
}
.styles_typo-btn_12pt__1oLU2 {
    font-family: PoppinsVN, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3333333333333333em;
    text-transform: uppercase;
}
.styles_typo-body_22pt__14xk- {
    font-family: Merriweather, serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4545454545454546em;
}
.styles_typo-body_18pt__34gYN {
    font-family: Merriweather, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7777777777777777em;
}
.styles_typo-body_16pt__1UB67 {
    font-family: PoppinsVN, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75em;
}
.styles_typo-body_14pt__41QKC {
    font-family: PoppinsVN, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857142857142em;
}
.styles_typo-caption_14pt__1B7IT {
    font-family: Merriweather, serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7142857142857142em;
}
.styles_typo-caption_12pt__3gDLe {
    font-family: PoppinsVN, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3333333333333333em;
}
.styles_s-poll__ny2u6 {
    --tw-bg-opacity: 1;
    align-items: center;
    background-color: rgb(247 245 242 / var(--tw-bg-opacity));
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.styles_s-poll__question__1uTDC {
    padding-left: 2.5rem;
}
.styles_s-poll__pollContent__3GKVk {
    margin-left: 2rem;
    padding: 30px 1rem;
    width: 33.333333%;
}
.styles_subHeadingText__24s7L {
    text-transform: uppercase;
}
.styles_pollQuestion__3CtlH {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    margin-top: 0.75rem;
    max-width: 368px;
    overflow: hidden;
}
@media (max-width: 1280px) {
    .styles_lg__typo-700_64pt__9ImwR {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_lg__typo-700_48pt__28NNL {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_lg__typo-700_40pt__1HJY4 {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_lg__typo-700_32pt__3FVad {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_lg__typo-700_24pt__4cI0G {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_lg__typo-700_20pt__3xi_R {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_lg__typo-600_64pt__3rPmE {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_lg__typo-600_40pt__12zSl {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_lg__typo-600_32pt__1nJVr {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_lg__typo-600_28pt__2DwbN {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_lg__typo-600_26pt__2vcL7 {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_lg__typo-600_24pt__3BA6O {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_lg__typo-600_20pt__3YcoM {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_lg__typo-600_16pt__3uhXJ {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_lg__typo-600_14pt__DSUBZ {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_lg__typo-600_13pt__hwOp6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_lg__typo-600_12pt__14hr6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_lg__typo-600_11pt__pRf5A {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_lg__typo-500_14pt__cVUTV {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_lg__typo-500_56pt__1Jyr5 {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_lg__typo-500_64pt__2_0nI {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_lg__typo-btn_16pt__1FKFf {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_lg__typo-btn_48pt__1aNmG {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_lg__typo-btn_14pt__y6cpa {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_lg__typo-btn_12pt__1_izt {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_lg__typo-body_22pt__2Mk-K {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_lg__typo-body_18pt__xR4xv {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_lg__typo-body_16pt__16p0b {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_lg__typo-body_14pt__37k6C {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_lg__typo-caption_14pt__3Yuxb {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_lg__typo-caption_12pt__249p6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
    .styles_xl__typo-700_64pt__MTGmh {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_xl__typo-700_48pt__1DVBn {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_xl__typo-700_40pt__2cXaU {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_xl__typo-700_32pt__1Ss7X {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_xl__typo-700_24pt__CaJG1 {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_xl__typo-700_20pt__3zq3l {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_xl__typo-600_64pt__2_wFV {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_xl__typo-600_40pt__2wzii {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_xl__typo-600_32pt__3Rcbi {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_xl__typo-600_28pt__3wjxn {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_xl__typo-600_26pt__3K_Ci {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_xl__typo-600_24pt__1RBQF {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_xl__typo-600_20pt__vAX70 {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_xl__typo-600_16pt__IvkNP {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_xl__typo-600_14pt__3EMtf {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_xl__typo-600_13pt__2w_t6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_xl__typo-600_12pt__1LEqy {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_xl__typo-600_11pt__2eqEA {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_xl__typo-500_14pt__3c6cV {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_xl__typo-500_56pt__2VGN0 {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_xl__typo-500_64pt___A-FB {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_xl__typo-btn_16pt__Vmve1 {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_xl__typo-btn_48pt__2KuFS {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_xl__typo-btn_14pt__3FjeM {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_xl__typo-btn_12pt__19ygW {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_xl__typo-body_22pt__3Pcai {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_xl__typo-body_18pt__2DDiH {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_xl__typo-body_16pt__2XwJb {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_xl__typo-body_14pt__3o7h3 {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_xl__typo-caption_14pt__3NC7o {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_xl__typo-caption_12pt__1aqR1 {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
}
@media (max-width: 1024px) {
    .styles_md__typo-700_64pt__1YjP5 {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_md__typo-700_48pt__3aowj {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_md__typo-700_40pt__3-B49 {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_md__typo-700_32pt__2Df68 {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_md__typo-700_24pt__A8Hip {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_md__typo-700_20pt__1U6ew {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_md__typo-600_64pt__3JmQz {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_md__typo-600_40pt__21WEY {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_md__typo-600_32pt__dt4Q1 {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_md__typo-600_28pt__tgu4S {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_md__typo-600_26pt__1JKLS {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_md__typo-600_24pt__xMrCr {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_md__typo-600_20pt__2hvnN {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_md__typo-600_16pt__1V6Ie {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_md__typo-600_14pt__jk5Et {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_md__typo-600_13pt__1B-O_ {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_md__typo-600_12pt__28t6S {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_md__typo-600_11pt__fN-ma {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_md__typo-500_14pt__N5ip1 {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_md__typo-500_56pt__7_w63 {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_md__typo-500_64pt__o0SYu {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_md__typo-btn_16pt__3bG-d {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_md__typo-btn_48pt__1cMMK {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_md__typo-btn_14pt__2VNjk {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_md__typo-btn_12pt__3dVOY {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_md__typo-body_22pt__1D9HA {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_md__typo-body_18pt__TDSSM {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_md__typo-body_16pt__3KBat {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_md__typo-body_14pt__3ySt1 {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_md__typo-caption_14pt__1tITS {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_md__typo-caption_12pt__Y7tbx {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
    .styles_pollQuestion__3CtlH {
        margin-top: 0.5rem;
    }
    .styles_s-poll__ny2u6 {
        align-items: flex-start;
        flex-direction: column;
        padding: 1rem;
    }
    .styles_s-poll__question__1uTDC {
        padding-left: 0;
    }
    .styles_s-poll__pollContent__3GKVk {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        padding: 0;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .styles_sm__typo-700_64pt__2_3hz {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_sm__typo-700_48pt__22TbP {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_sm__typo-700_40pt__pb19D {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_sm__typo-700_32pt__3MHZ2 {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_sm__typo-700_24pt__3gpt6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_sm__typo-700_20pt__3HqKK {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_sm__typo-600_64pt__3U9OH {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_sm__typo-600_40pt__gliNq {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_sm__typo-600_32pt__3rREW {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_sm__typo-600_28pt__37Yec {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_sm__typo-600_26pt__3WO_i {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_sm__typo-600_24pt__wtd5_ {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_sm__typo-600_20pt__3h--O {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_sm__typo-600_16pt__1LJKy {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_sm__typo-600_14pt__3o21f {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_sm__typo-600_13pt__3sIac {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_sm__typo-600_12pt__1XS3z {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_sm__typo-600_11pt__3OfxJ {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_sm__typo-500_14pt__1zYrK {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_sm__typo-500_56pt__o6Adz {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_sm__typo-500_64pt__-OT67 {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_sm__typo-btn_16pt__2bQjr {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_sm__typo-btn_48pt__24scM {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_sm__typo-btn_14pt__2yU6D {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_sm__typo-btn_12pt__IqmbS {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_sm__typo-body_22pt___aQxr {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_sm__typo-body_18pt__1B5Ta {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_sm__typo-body_16pt__Gm_Gx {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_sm__typo-body_14pt__3Ky9I {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_sm__typo-caption_14pt__1OGQS {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_sm__typo-caption_12pt__1AVGW {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
}
@media (max-width: 576px) {
    .styles_xs__typo-700_64pt__1F8AO {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_xs__typo-700_48pt__2Z1r0 {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_xs__typo-700_40pt__2cSVt {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_xs__typo-700_32pt__1bawq {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_xs__typo-700_24pt__3ki0R {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_xs__typo-700_20pt__3I5nk {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_xs__typo-600_64pt__3SQY- {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_xs__typo-600_40pt__U0epB {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_xs__typo-600_32pt__OQn_J {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_xs__typo-600_28pt__1cDhA {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_xs__typo-600_26pt__OcYCt {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_pollQuestion__3CtlH,
    .styles_xs__typo-600_24pt__3Wbw4 {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_xs__typo-600_20pt__1PkhC {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_xs__typo-600_16pt__3YC0y {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_xs__typo-600_14pt__1XbVq {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_xs__typo-600_13pt__2Fs1z {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_subHeadingText__24s7L,
    .styles_xs__typo-600_12pt__3WJAi {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_xs__typo-600_11pt__1xWiR {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_xs__typo-500_14pt__3dJ3V {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_xs__typo-500_56pt__1mJNa {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_xs__typo-500_64pt__1FRgK {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_xs__typo-btn_16pt__3eifX {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_xs__typo-btn_48pt__3AIZi {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_xs__typo-btn_14pt__3aP7f {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_xs__typo-btn_12pt__1g7LK {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_xs__typo-body_22pt__xEQ_I {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_xs__typo-body_18pt__WAHZh {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_xs__typo-body_16pt__qLU8J {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_xs__typo-body_14pt__FBPjP {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_xs__typo-caption_14pt__2cavE {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_xs__typo-caption_12pt__3-8tZ {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
}
@media (min-width: 577px) {
    .styles_msm__typo-700_64pt__2SjfQ {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_msm__typo-700_48pt__1SlTq {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_msm__typo-700_40pt__2aveP {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_msm__typo-700_32pt__1vcyv {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_msm__typo-700_24pt__8hCgh {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_msm__typo-700_20pt__1xzdf {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_msm__typo-600_64pt__1gdeq {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_msm__typo-600_40pt__3x7de {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_msm__typo-600_32pt__1XUxG {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_msm__typo-600_28pt__3WuVs {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_msm__typo-600_26pt___soxz {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_msm__typo-600_24pt__33MT2 {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_msm__typo-600_20pt__1PhuZ {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_msm__typo-600_16pt__3KdtF {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_msm__typo-600_14pt__2kIAh {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_msm__typo-600_13pt__1gZh1 {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_msm__typo-600_12pt__QZiiI {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_msm__typo-600_11pt__31cc5 {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_msm__typo-500_14pt__21VWa {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_msm__typo-500_56pt__2i1wX {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_msm__typo-500_64pt__kwOCg {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_msm__typo-btn_16pt__3IFfx {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_msm__typo-btn_48pt__nJ3b4 {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_msm__typo-btn_14pt__21w_x {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_msm__typo-btn_12pt__XWYpc {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_msm__typo-body_22pt__9cfyG {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_msm__typo-body_18pt__1YHn7 {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_msm__typo-body_16pt__15PI3 {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_msm__typo-body_14pt__2eTiT {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_msm__typo-caption_14pt__2U0xg {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_msm__typo-caption_12pt__24uS6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
}
@media (min-width: 769px) {
    .styles_mmd__typo-700_64pt__11QHL {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_mmd__typo-700_48pt__1YahK {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_mmd__typo-700_40pt__1rDRo {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_mmd__typo-700_32pt__mbUAT {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mmd__typo-700_24pt__3te96 {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mmd__typo-700_20pt__1HOv8 {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mmd__typo-600_64pt__1gZnX {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_mmd__typo-600_40pt__ub7gc {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_mmd__typo-600_32pt__1PLFT {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mmd__typo-600_28pt__j3t7L {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_mmd__typo-600_26pt__1olac {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_mmd__typo-600_24pt__2166a {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mmd__typo-600_20pt__3tbkc {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_mmd__typo-600_16pt__2hthV {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mmd__typo-600_14pt__gUnBn {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_mmd__typo-600_13pt__2pjSb {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_mmd__typo-600_12pt__1xVkz {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mmd__typo-600_11pt__ak4X6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_mmd__typo-500_14pt__3n8oS {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_mmd__typo-500_56pt__zjBD_ {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_mmd__typo-500_64pt__nyfMy {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_mmd__typo-btn_16pt__1EMxT {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mmd__typo-btn_48pt__1eojZ {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_mmd__typo-btn_14pt__2DfAr {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_mmd__typo-btn_12pt___PIIk {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mmd__typo-body_22pt__15XYm {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_mmd__typo-body_18pt__Xw_3f {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_mmd__typo-body_16pt__1SdzM {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_mmd__typo-body_14pt__1OHRk {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_mmd__typo-caption_14pt__2_xfk {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_mmd__typo-caption_12pt__1n3NX {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
    .styles_s-poll__question__1uTDC {
        padding-left: 2rem;
    }
}
@media (min-width: 1025px) {
    .styles_mlg__typo-700_64pt__DxDhV {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_mlg__typo-700_48pt__3kgXy {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_mlg__typo-700_40pt__2nOYI {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_mlg__typo-700_32pt__70gZC {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mlg__typo-700_24pt__1Gl8g {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mlg__typo-700_20pt__Ec5KP {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mlg__typo-600_64pt__7aAtZ {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_mlg__typo-600_40pt__2focJ {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_mlg__typo-600_32pt__3Dhvf {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mlg__typo-600_28pt__1YhUL {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_mlg__typo-600_26pt__HmpeX {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_mlg__typo-600_24pt__3Q-a4 {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mlg__typo-600_20pt__Ss6PZ {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_mlg__typo-600_16pt__3tqs6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mlg__typo-600_14pt__2nsci {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_mlg__typo-600_13pt__1Y5Qi {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_mlg__typo-600_12pt__2BcW0 {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mlg__typo-600_11pt__BgrQY {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_mlg__typo-500_14pt__2RHwl {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_mlg__typo-500_56pt__3WVK6 {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_mlg__typo-500_64pt__2eB5Y {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_mlg__typo-btn_16pt__opi6X {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mlg__typo-btn_48pt__3z5FN {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_mlg__typo-btn_14pt__51D1d {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_mlg__typo-btn_12pt__3k60h {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mlg__typo-body_22pt__28blk {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_mlg__typo-body_18pt__3_bh- {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_mlg__typo-body_16pt__3Vp5W {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_mlg__typo-body_14pt__3coi7 {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_mlg__typo-caption_14pt__3cPjU {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_mlg__typo-caption_12pt__2o4os {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
}
@media (min-width: 1281px) {
    .styles_mxl__typo-700_64pt__2EbPf {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.25em;
        text-transform: uppercase;
    }
    .styles_mxl__typo-700_48pt__pLVki {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.1666666666666667em;
    }
    .styles_mxl__typo-700_40pt__3ttdK {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .styles_mxl__typo-700_32pt__3Y-Q5 {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mxl__typo-700_24pt__3yH1w {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mxl__typo-700_20pt__qlb3D {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 1em;
    }
    .styles_mxl__typo-600_64pt__1kAf_ {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_mxl__typo-600_40pt__3QjNj {
        font-family: PoppinsVN, sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2em;
    }
    .styles_mxl__typo-600_32pt__lF9Zf {
        font-family: PoppinsVN, sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mxl__typo-600_28pt__2MH3_ {
        font-family: Merriweather, serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_mxl__typo-600_26pt__RkefY {
        font-family: PoppinsVN, sans-serif;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.3076923076923077em;
    }
    .styles_mxl__typo-600_24pt__BKyQc {
        font-family: PoppinsVN, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mxl__typo-600_20pt__1Fibd {
        font-family: PoppinsVN, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.4em;
    }
    .styles_mxl__typo-600_16pt__qhVCz {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mxl__typo-600_14pt__31_Jr {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4285714285714286em;
    }
    .styles_mxl__typo-600_13pt__2MOLN {
        font-family: PoppinsVN, sans-serif;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.3846153846153846em;
    }
    .styles_mxl__typo-600_12pt__1j0im {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mxl__typo-600_11pt__3VN36 {
        font-family: PoppinsVN, sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_mxl__typo-500_14pt__1Jm3x {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_mxl__typo-500_56pt__3gPIE {
        font-family: PoppinsVN, sans-serif;
        font-size: 56px;
        font-weight: 600;
        line-height: 1.2857142857142858em;
    }
    .styles_mxl__typo-500_64pt__2TE1D {
        font-family: PoppinsVN, sans-serif;
        font-size: 64px;
        font-weight: 600;
        line-height: 1.25em;
    }
    .styles_mxl__typo-btn_16pt__1a8Ko {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
    }
    .styles_mxl__typo-btn_48pt__2iG0B {
        font-family: PoppinsVN, sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1666666666666667em;
    }
    .styles_mxl__typo-btn_14pt__5LnLw {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.7142857142857142em;
    }
    .styles_mxl__typo-btn_12pt__35YLn {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.3333333333333333em;
    }
    .styles_mxl__typo-body_22pt__2-vOz {
        font-family: Merriweather, serif;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.4545454545454546em;
    }
    .styles_mxl__typo-body_18pt__p_jJ3 {
        font-family: Merriweather, serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.7777777777777777em;
    }
    .styles_mxl__typo-body_16pt__OdQCg {
        font-family: PoppinsVN, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.75em;
    }
    .styles_mxl__typo-body_14pt__3Z-WJ {
        font-family: PoppinsVN, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7142857142857142em;
    }
    .styles_mxl__typo-caption_14pt__1Jxh2 {
        font-family: Merriweather, serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.7142857142857142em;
    }
    .styles_mxl__typo-caption_12pt__2qtNZ {
        font-family: PoppinsVN, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.3333333333333333em;
    }
}
