.nav-bar_navbarContainer__mp9sv {
  align-items: center;
  border-top: 1px solid #f7f7f7;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1168px;
  padding-left: 16px;
  position: relative;
  transition: translate 0.1s linear;
}
.nav-bar_navbarNavContainer__2eJgP {
  margin: 0;
  width: calc(100% - 320px);
}
.nav-bar_navbarItem__JEO2e {
  color: #292929;
  font-family: PoppinsVN;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 18px;
  text-transform: uppercase;
}
.nav-bar_navbarItem__JEO2e:hover {
  border-bottom: 1px solid #00773e;
  color: #292929;
}
@media only screen and (max-width: 1366px) {
  .nav-bar_navbarContainer__mp9sv {
    padding-left: 8px;
  }
}
@media screen and (max-width: 1168px) {
  .nav-bar_navbarContainer__mp9sv {
    justify-content: space-around;
  }
  .nav-bar_navbarItem__JEO2e {
    font-size: 11px;
  }
}
.nav_vct-nav__1G4hs .nav_subtitle-1__11f6n {
  text-transform: uppercase;
}
.nav_nav-menu-left__NPQUV {
  margin-left: 16px;
}
.nav_nav-menu-header-position__2F8dh {
  position: fixed;
}
.nav_w-100__aYDeU {
  width: 100%;
}
.nav_sticky__W3EgX {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav_showNav__1WqGc .nav_nav-sticky__39sMg {
  height: 56px;
}
.nav_nav-sticky__39sMg {
  align-items: center;
  display: flex;
  height: 0;
  width: 100%;
}
.nav_nav-sticky__39sMg .nav_nav-content__jkC2U {
  padding: 0;
}
.nav_nav-sticky__39sMg .nav_header-action-scrolldown__ZvQOq {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.nav_vct-open__3pae5 {
  cursor: pointer;
}
.nav_vct-open-title__21hRW {
  color: #292929;
  font-family: PoppinsVN;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.nav_nav-container__w9lTh,
.nav_nav-content__jkC2U {
  transition: all 0.1s linear;
}
.nav_nav-container__w9lTh {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  z-index: 99;
}
.nav_nav-container__w9lTh #nav_myNavIsReading__2QrKa,
.nav_nav-container__w9lTh #nav_myNavIsWatching__62rPm {
  padding: 0 16px;
}
.nav_nav-container__w9lTh .nav_substring-title__3reRO {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav_nav-container__w9lTh .nav_header-scrolldown-content__3F4d9 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav_nav-container__w9lTh
  .nav_header-scrolldown-content__3F4d9
  .nav_logo-right__1z1Tv
  img {
  height: 36px;
  width: 36px;
}
.nav_nav-container__w9lTh
  .nav_header-scrolldown-content__3F4d9
  .nav_header-action-search__Hp_DE {
  align-self: center;
}
.nav_nav-container__w9lTh
  .nav_header-scrolldown-content__3F4d9
  .nav_header-action-search__Hp_DE
  .nav_header-action-search_button__3vVzH {
  color: #757575;
}
.nav_nav-container__w9lTh
  .nav_header-scrolldown-content__3F4d9
  .nav_header-action-search__Hp_DE
  .nav_header-action-search_button__3vVzH:hover {
  color: #292929;
}
@media (max-width: 1024px) {
  .nav_vct-nav__1G4hs {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .nav_nav-menu-left__NPQUV {
    margin-left: 0;
  }
}
