.styles_blockArticles__wISj2 {
  margin: 0 0 12px
}

.styles_collectionDetailPage__KlluL {
  margin-bottom: 83px;
  margin-top: 1rem;
  border-radius: 10px;
}
.styles_collectionBanner__16P3S {
  margin: 32px 0 40px;
  position: relative
}
.styles_collectionBanner__16P3S {
  margin: 32px 0 40px;
  position: relative
}

.styles_collectionImage__3d1tn>div {
  background-color: #000
}

.styles_collectionImage__3d1tn>div img {
  opacity: .25
}
.style_vct-grid-col-xs-12__2NvJy {
  width: calc(100% / 3)
}

.styles_bannerContent__39YX9 {
  color: #fff;
  left: 50%;
  max-width: 568px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%)
}

.styles_bannerContent__39YX9 h1 {
  -webkit-line-clamp: 2;
  color: #fff;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.styles_bannerContent__39YX9 h1,
.styles_bannerContent__39YX9 p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff
}

.styles_bannerContent__39YX9 p {
  -webkit-line-clamp: 4;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin: 16px 0 0;
  min-height: 120px
}

.styles_bannerContent__39YX9 {
  width: 90%
}

.styles_bannerContent__39YX9 p {
  -webkit-line-clamp: 3;
  font-size: 14px;
  line-height: 24px;
  margin: 8px 0 0;
  min-height: 72px
}


.styles_s-text__3a4If.styles_h1__33AOP,
.styles_typo-600_64pt__2hpEJ {
  font-family: PoppinsVN, sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.25em
}

.styles_s-text__3a4If.styles_h2__3v7Hq,
.styles_typo-600_40pt__1a3N0 {
  font-family: PoppinsVN, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4em
}

.styles_s-text__3a4If.styles_h3__1LkCA,
.styles_typo-600_32pt__2Xd0l {
  font-family: PoppinsVN, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.375em
}

.styles_s-text__3a4If.styles_h4__1DaHn,
.styles_typo-600_24pt__760pL {
  font-family: PoppinsVN, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3333333333333333em
}

.styles_s-text__3a4If.styles_h5__3l3Lh,
.styles_typo-600_20pt__3V4fs {
  font-family: PoppinsVN, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4em
}
.styles_s-text__3a4If.styles_noGutterBottom__3Wmpn {
  margin-bottom: 0
}

.styles_horiDivider__3Xvjt {
  background-color: #757575;
  content: "";
  display: block;
  height: 2px;
  margin: 24px auto 32px;
  opacity: .5;
  width: 80px
}
.styles_horiDivider__3Xvjt {
  margin: 16px auto 22px
}

.styles_bannerActions__1B3cs {
  align-items: center;
  display: flex;
  justify-content: center
}

.styles_bannerActions__1B3cs svg {
  fill: #fff
}
.styles_bannerActions__1B3cs .styles_divider__1r7kx {
  height: 24px
}

.styles_bannerActions__1B3cs .styles_divider__1r7kx {
  background-color: #757575;
  content: "";
  display: block;
  height: 40px;
  margin: 0 16px;
  opacity: .5;
  width: 1px
}

.styles_bannerActions__1B3cs button {
  height: 40px
}


.styles_btn__1CpdT.styles_btn-large__24DCU,
.styles_btn__1CpdT.styles_btn-medium__1pU1Q,
.styles_btn__1CpdT.styles_btn-small__4B90s {
  padding: 0 12px
}

.styles_btn__1CpdT {
  cursor: pointer
}

.styles_btn__1CpdT.styles_btn-small__4B90s {
  height: 24px
}

.styles_btn__1CpdT.styles_btn-small__4B90s .styles_content-small__Inz1e {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .08px;
  line-height: 15px
}

.styles_btn__1CpdT.styles_btn-medium__1pU1Q {
  height: 32px
}

.styles_btn__1CpdT.styles_btn-medium__1pU1Q .styles_content-medium__1DXcn {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px
}

.styles_btn__1CpdT.styles_btn-large__24DCU {
  height: 40px
}

.styles_btn__1CpdT.styles_btn-large__24DCU .styles_content-large__3Z5jU {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px
}

.styles_btn--default__eE97u:not([disabled]):hover,
.styles_btn--text__3i2gd:not([disabled]):hover {
  border-color: #009e52;
  color: #009e52;
  cursor: pointer
}

.styles_btn--default__eE97u.styles_color--primary__2hQHw:disabled,
.styles_btn--default__eE97u:disabled,
.styles_btn--link__mnwvM:disabled,
.styles_btn--outlined__18ASO.styles_color--primary__2hQHw:disabled,
.styles_btn--text__3i2gd.styles_color--primary__2hQHw:disabled,
.styles_btn--text__3i2gd:disabled {
  border-color: #bfbfbf;
  color: #bfbfbf;
  pointer-events: none
}

.styles_btn--default__eE97u,
.styles_btn--outlined__18ASO {
  border: 1px solid;
  border-radius: 4px
}


.styles_btn--default__eE97u {
  background-color: #fff;
  border-color: #757575;
  color: #757575
}

.styles_btn--default__eE97u:active {
  border-color: #00773e;
  color: #00773e
}

.styles_btn--default__eE97u.styles_color--primary__2hQHw {
  background-color: #00773e;
  border-color: #00773e;
  color: #fff
}

.styles_btn--default__eE97u.styles_color--primary__2hQHw:not([disabled]):hover {
  background-color: #009e52;
  border-color: #009e52;
  color: #fff
}

.styles_btn--default__eE97u.styles_color--primary__2hQHw:active {
  background-color: #00773e;
  border-color: #00773e
}

.styles_btn--default__eE97u.styles_color--primary__2hQHw:disabled {
  background-color: #f7f7f7;
  border: none
}
.styles_btnCopy__1OHsM {
  margin-left: 24px;
  position: relative
}

.styles_article_medium__1hFfJ a {
  text-decoration: none
}